* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

a {
    color: black;
    text-decoration: none;
}

body {
    color: black;
    font-family: Lucida, sans-serif;
}

:root {
    --first-color: #c88a81;
    --second-color: #d5c3c7;
}

/*header section*/
header {
    padding: 20 px 35 px;
    background-color: var(--second-color);
    justify-content: space-between;
    display: flex;
    margin: 0;
    font-size: 22px;
    z-index: 9999;
    position: sticky;
    position: -webkit-sticky;
    opacity: .75;
}

header nav ul {
    margin: 15px;
    background-color: var(--first-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    align-items: flex-end;
}

header nav ul li {
    font-size: 20px;
    padding: 10px 15px;
    font-weight: ligher;
    text-decoration: underline;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

h1 {
    background-color: var(--first-color);
    display: flex;
    margin: 15px;
}

/*hero section*/
.hero {
    background-image: url("../images/hero-image.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    background-attachment: fixed;
    height: 25vh;
    justify-content: flex-end;
    align-items: flex-end;
}

.subtitle-flex {
    display: flex;
    padding: 10px;
    color:white;
    font-weight: bold;
    font-size: 30px;
    opacity: 0.75;
    background-color: var(--first-color);
}


/*content section*/

/*flexbox section*/
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 100%;  
    flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--second-color);
}

.content-section {
    display: flex;
    border-radius: 2px solid black;
    min-height: 100px;
    margin: 10px;

}

.flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid var(--first-color);
    min-width: 15%;
}

.flex-row {
    display: flex;
    align-items: flex-start;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

/*styles*/


.section-title {
    color: white;
    text-transform: uppercase;
    opacity: .75;
    font-size: 20px;
}

.content-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    align-items: flex-end;
}

.container p {
    text-align: center;
    line-height: 1.7 px;
}

.contacts li {
    justify-content: space-between;
    display: flex;
    text-decoration: underline;
    min-width: 100px;
}

.flex-end {
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
}

