* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    color: black;
    font-family: Lucida, sans-serif;
}

:root {
    --first-color: #c88a81;
    --second-color: #d5c3c7;
}

/*header section*/
header {
    padding: 20 px 35 px;
    background-color: white;
    justify-content: space-between;
    display: flex;
    margin: 0;
    font-size: 22px;
    text-shadow: 0 0 10px rgba(245, 2, 2, 0.5);
    z-index: 9999;
    position: sticky;
    position: -webkit-sticky;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    font-size: 20px;
    padding: 10px 15px;
    font-weight: ligher;
    text-decoration: underline;
}

header a {
    color: var(--first-color);
    text-decoration: none;
    text-transform: uppercase;
}

/*hero section*/
.hero {
    background-image: url("../images/hero-image.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    background-attachment: fixed;
    height: 25vh;
    justify-content: flex-end;
    align-items: flex-end;
}

.subtitle-flex {
    display: flex;
    padding: 10px;
    color:white;
    font-weight: bold;
    font-size: 40px;
    opacity: 0.75;
}


/*content section*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-1 {
    min-height: 100px;
}

.flex-2 {
    min-height: 100px;

}

.flex-3 {
    min-height: 300px;
}

.content-section {
    background-color: var(--second-color);
    min-height: 200px;
}